[Unit]
Description=fail2ban Prometheus exporter
Wants=network-online.target fail2ban.service
After=network-online.target fail2ban.service

[Service]
Type=simple
ExecStart=/usr/local/bin/fail2ban_exporter.py

[Install]
WantedBy=multi-user.target
